<% include ../partial/header.ejs %>



<h2>添加角色</h2>
<div>
    <input type="text" id="txtRoleName">
    <button id="btnAddRole">添加</button>
</div>

<hr>
<h2>角色列表</h2>

<select name="" id="selectRoleList" multiple="multiple">
<% for(var i=0; i<roles.length; i++) { 
    var role = roles[i]
%>
    <option value="<%= role %>"><%= role %></option>
<% } %>
</select>

<button id="btnDelete" >删除</button><button id="btnUpdate">更新</button>

<hr>

<h2>角色可访问接口列表</h2>

<div>
    <button>全选 / 全取消</button> 
</div>

<% for(var i=0; i<routes.length; i++) { 
    var route = routes[i]
    var id = `chk_${route.path}_${route.method}`
%>

<div>
    <input id="<%= id %>" type="checkbox" name="role-path" data-method="<%= route.method %>" data-path="<%= route.path %>"> | 
    <label for="<%= id %>"><%= route.method %> - <%= route.path %></label>
</div>

<% } %>


<% include ../partial/footer.ejs %>

<script>

$(function(){
    initRoleAddButton();
    renderRoleSelect();
    bindRoleSelectEvent();
    bindUpdateButtonEvent();
    bindDeleteButtonEvent();
});


function initRoleAddButton(){
    $("#btnAddRole").click(function(e){
        var roleName = $("#txtRoleName").val();
        addRole({name: roleName, apis: []}, function(res){
            if(res.code === 200){
                alert('Success')
            }else{
                alert(res.data.msg)
            }
            console.log(res);

            renderRoleSelect();
        });
    })

    function addRole(data, callback) {
        $.ajax({
            url: '/auth/admin/role_add',
            type: 'post',
            data: data,
            success: function(res){
                callback && callback(res)
            },
            error: function(err){
                alert('ajax err');
                console.log(err);
            }
        });
    }
}

function renderRoleSelect() {
    getAllRoles(function(res){
        if(res.code === 200){
            $('#selectRoleList').html('');
            res.data.forEach(function(role){
                var $option = $('<option>').html(role.name).attr('value', role._id);
                $('#selectRoleList').append($option);
            })
        }
    })
}

function updateRole(data, callback) {
    $.ajax({
        url: '/auth/admin/role_update',
        type: 'put',
        data: data,
        success: function(res){
            callback && callback(res)
        },
        error: function(err){
            alert('ajax err');
            console.log(err);
        }
    });
}

function deleteRole(id, callback){
    $.ajax({
        url: '/auth/admin/role_delete',
        type: 'delete',
        data: {
            id: id
        },
        success: function(res){
            callback && callback(res)
        },
        error: function(err){
            alert('ajax err');
            console.log(err);
        }
    });
}

function getRoles(id, callback){
    $.ajax({
        url: '/auth/admin/role_get',
        type: 'get',
        data: {
            id: id
        },
        success: function(res){
            callback && callback(res)
        },
        error: function(err){
            alert('ajax err');
            console.log(err);
        }
    })
}
function getRole(id, callback){
    getRoles(id, callback)
}
function getAllRoles(callback){
    getRoles(undefined, callback)
}

function getCheckedApis(){
    
    // var mapping = {};
    var mappings = []
    var $checkboxs = $("input[name=role-path]");
    $.each($checkboxs, function(i, checkbox){
        var $checkbox = $(checkbox);
        // var status = $checkbox.prop("checked");

        // mapping[$checkbox.attr("data-path")] = status;
        // console.log($checkbox.attr("data-path") + ' ---- ' + status)
        mappings.push({
            path: $checkbox.attr("data-path"),
            method: $checkbox.attr("data-method"),
            status: $checkbox.prop("checked")
        })
    });

    return mappings;
}

function bindRoleSelectEvent() {
    $("#selectRoleList").change(function(e){
        var id = e.target.value;
        getRole(id, function(res){
            var role = res.data[0]; 
            updateApisCheck(role.apis);
        })
    })
}

function updateApisCheck(apis){

    var $inputs = $("input[name=role-path]");

    if(!apis){
        $inputs.prop("checked", false);
        return;
    }

    $.each($inputs, function(ii, input){

        var $input = $(input);
        var p = $input.attr("data-path");
        var m = $input.attr("data-method");

        for(var i=0;i<apis.length;i++){
            var api = apis[i];
            if(api.path === p && api.method === m){
                $input.prop("checked", eval(api.status));
                break;
            }
        }
    })
}

function bindUpdateButtonEvent() {
    $("#btnUpdate").click(function(){
        var id = $("#selectRoleList").val()[0];
        var apis = getCheckedApis();
        var name = $("#txtRoleName").val();
        if(name == "") name = $("#selectRoleList").find("option:selected").text();

        updateRole({id: id ,apis: apis, name: name}, function(res){
            if(res.code === 200){
                alert('udpate success')
            }else{
                alert('update fail');
            }
        })

    })
}

function bindDeleteButtonEvent(){
    $("#btnDelete").click(function(){
        var id = $("#selectRoleList").val()[0];

        deleteRole(id, function(res){
            if(res.code === 200){
                alert('delete success');
                renderRoleSelect();
            }
        })

    })
}

</script>